::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    scrollbar-color: #a7a7a7;
    background: #a7a7a7;
}

body {
    margin: 5px;
    padding: 1px;
    overflow: hidden;
}

.parent {
    justify-content: space-around;
}

.left {
    /* margin-left: 20px; */
    width: 33vw;
    margin-bottom: -8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.list-unstyled {
    margin: 10px;
    padding: 15px;
    padding-right: 15px;
}

.legal {
    padding: 10px;
}

.list-unstyled h6 {
    margin-top: -4px;
}

.lu-l1 {
    margin-left: 3px;
}

.lu-lc {
    margin-left: 20px;
}

.ic {
    width: 50px;
}

.ics {
    filter: invert(50%);
}

.libs img {
    filter: invert(100%);
}

.home ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    list-style: none;
}

.library {
    /* width: 22vw;
    margin: 10px; */
    padding: 10px;
    padding-bottom: 25px;
}

.col {
    border-radius: 10%;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

body {
    background-color: black;
    color: white;
}

.card {
    width: 250px;
    height: 1px;
    display: flex;
    border: none;
    border: none;
    border-radius: 8px;
    background-color: black;
    /* padding: 10px; */
}

.card-body {
    border-radius: 10%;
    border: none;

}



* {
    margin: 0%;
    box-sizing: border-box;
}

.company a {
    color: #a7a7a7;
    text-decoration: none;
}

.communities a {
    color: #a7a7a7;
    text-decoration: none;
}

.usefullinks a {
    color: #a7a7a7;
    text-decoration: none;
}

.parent {
    justify-content: space-around;
}

.left {
    /* margin-left: 20px; */
    width: 33vw;
    margin-top: -8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-unstyled {
    margin: 10px;
    padding: 15px;
    padding-right: 15px;
}

.library {
    /* width: 22vw; */
    /* margin: 10px; */
    padding: 10px;
}

.sp {
    margin: 10px;
    padding-left: 10px;
    padding-right: 7px;
    display: flex;
    justify-content: space-between;
}

.sp a {
    text-decoration: none;
    color: #a7a7a7;
    font-size: 13px;
}

.legal {
    padding: 10px;
}

.list-unstyled li {
    display: flex;
}

.list-unstyled h6 {
    margin-top: -4px;
}

.lu-l1 {
    margin-left: 3px;
}

.lu-lc {
    margin-left: 20px;
}

.ic {
    width: 50px;
}

.ics {
    filter: invert(50%);
}

.right {
    background-color: black;
    /* margin-left: 10px; */
    display: flex;
    flex-direction: column;
    width: 78vw;
    height: 88vh;
    float: right;
    overflow-x: hidden;
}


.libs img {
    filter: invert(100%);
}

.home {
    padding-bottom: 10px;
    padding-left: 20px;
}

.home ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    list-style: none;
}

.lsp a {
    text-decoration: none;
    color: #a7a7a7;
    font-size: x-small;
}

.heading {
    width: 90%;
    right: 0;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    /* margin-left: 22.9%; */
    background: transparent;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    justify-content: space-between;
}

.signup {
    background-color: #121212;
    color: #a7a7a7;
    border-top: 8px;
}

.pageswitch button {
    background-color: #121212;
    border-radius: 30%;
    border: none;
}

.pageswitch i {
    filter: invert(50%);
}

.logsig {
    background-color: rgb(0, 0, 0.5);
}

.logsign button {
    font-size: 10px;
    width: 80px;
    padding: 10px;
    border-radius: 20px;
    border: none;
}


.fxi {
    width: 10vw;
    display: flex;
    justify-content: space-around;
}

.cyfp {
    height: 80px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #242424;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.lng-button img {
    filter: invert(200%);
    margin-top: -1px;
}

.lng button {
    background-color: black;
    color: white;
    border-radius: 100px;
    border: 1px solid white;
}

.lib-img {
    filter: invert(50%);
}

.divbt button {
    border: none;
    border-radius: 100px;
}

.libs i {
    filter: invert(50%);
    margin-top: 5px;
}

.libs {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.fxi-b i {
    filter: invert(100%);
}

.footfull {
    display: flex;
    justify-content: space-between;
}

.sufb {
    width: 135px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    margin-top: 7%;
    margin-right: 25px;
}

.pss {
    display: flex;
    flex-direction: column;
    gap: none;
}

.posy {
    margin-top: 5px;
}

.pss p {
    margin-bottom: 5px;
    margin-left: 15px;
}

footer {
    background: linear-gradient(to right, #af2896, #509bf5);
}

.card-img {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
}

.card-img img {
    width: 50%;
    transform: rotate(25deg) translate(18%, -2%);
}

.card-ti {
    padding: 10px;
}

/* .ccu {
    display: flex;
    justify-content: space-around;
} */

.ccu {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.fxi {
    /* width: 10vw; */
    display: flex;
    justify-content: space-around;
}

.width-lst {
    width: 23%;
}

.fxi button {
    border: none;
    background-color: #292929;
    width: 15%;
    height: 20%;
    border-radius: 50%;
}