* {
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #121212;
    color: white;
}

.logo {
    width: 1000px;
    height: 96px;
    /* width: 150px; */
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}

i {
    width: 20px;
    height: 20px;
}

.hello {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 398px;

    /*   */
}

form p {
    font-size: 14px;
    font-weight: bold;
}

input {
    width: 80%;
    height: 48px;
    background-color: #121212;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;

}

form button {
    height: 48px;
    width: 320px;
    margin-top: 20px;
    background-color: #1Ed760;
    font-size: 16px;
    font-weight: bold;
    border: 1px none black;
    border-radius: 25px;
}

.s-b {
    height: 48px;
    width: 320px;
    margin-top: 20px;
    background-color: #1a020226;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: 1px solid gray;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}